html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #191919;
    color: #FEDE00;
}

header .navbar-custom {
    background-color: #9F2B00;
}

a {
    color: #FEDE00;
}

a:hover {
    color: #5E0200;
}

.card-body {
    background-color: #9F2B00;
}

tr:hover, th:hover, td:hover {
    background-color: #9F2B00;
}