@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Bienvenue dans le Dojo des Ninjas Cats!</h1>

@*Slogan*@
<h2 class="text-center">Le dojo des chats ninja, l'art de la discrétion féline.</h2>


<div class="container mt-4">
    <h2 class="text-center">Entraîne-toi avec les meilleurs</h2>
    <p class="text-center">Découvrez le Dojo des Chats Ninjas, où la grâce féline rencontre l'art ancestral du ninjutsu. Notre dojo offre un environnement stimulant et sécurisé pour les félins ambitieux qui aspirent à maîtriser les techniques secrètes des ninjas. Sous la tutelle de nos maîtres expérimentés, les chats apprennent l'agilité, la discrétion et la maîtrise de soi. Rejoignez-nous pour une aventure captivante où vous apprendrez à bondir silencieusement dans l'ombre, à perfectionner vos réflexes et à devenir un vrai maître du ninja. Que votre voyage vers la maîtrise commence ici, au Dojo des Chats Ninjas.</p>

    <div class="row mt-4">
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="/images/NinjaCat.png" class="card-img-top" alt="Ninja Cat 1">
                <div class="card-body">
                    <h5 class="card-title">Master Whiskers</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="/images/ninjacat2.png" class="card-img-top" alt="Ninja Cat 2">
                <div class="card-body">
                    <h5 class="card-title">Sensei Claw</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="/images/ninjacat3.png" class="card-img-top" alt="Ninja Cat 3">
                <div class="card-body">
                    <h5 class="card-title">Whispering Shadow</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <h2 class="text-center">Calendrier d'événement</h2>



</div>
